/*********************************************
:: About Page                   
********************************************/
.page-about {

    .detail-container {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0 0 100px;

        .content-narrow-width {
            @include mappy-bp(mediumish) {
                max-width: 600px;
            }
        }
    }
    /********************************************/
            
}
